# Git ignore for Quartus-generated directories and files that shouldnt be backed up

Bomber_Man/output_files/
Bomber_Man/db/
Bomber_Man/incremental_db/
*.bak
*.qws
*.pin
*.pof
*.sof
*.jdi
*.rpt
*.sii
*.qarlog
*.qsf
*.vwf
/Bomber_Man/simulation
